$black-0: #ffffff;
$black-50: #f6f6f6;
$black-100: #e7e7e7;
$black-200: #d9d9d9;
$black-300: #c0c0c0;
$black-700: #4f4f4f;
$black-900: #1a1a1a;
$blue-900: #2b548e;
$blue-950: #032145;
$blue-1000: #00172e;
$begie-200: #d0aa62;
$begie-300: #b08a3a;
$begie-400: #8f6614;
$begie-500: #7a4f00;
$red-300: #8d2728;
$gradient: linear-gradient(90deg, #e0be56, #8f6515, #d0b143, #9f7100);
$gradient-2: linear-gradient(90deg, #da981e, #c9ab3e, #e2b647);
$shadow: rgba(0, 0, 0, 0.30) 0 5px 20px;
$overlay: rgba(0, 0, 0, 0.481);